
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora:ital@1&display=swap');


html{
  font-family: 'Lora', serif;
    
}
*{
    margin: 0 0;
    font-family: 'Lora', serif;
}
.container{
    width:1140px ;
    height: 1600px ;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.897);    
    padding: 10px 10px ;
    padding-bottom: 125px;
    
}

.yolo{
    width: 1140px ;
    background-color: rgb(0, 76, 121);
    padding: 0  ;
}
.yolo1{
    width: 1140px;
    height: 1350px ;
    background-color: rgb(232, 244, 250);
}

.ava{
    border-radius: 50%;
    width:250px ;
    height: 300px ;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    
}
.info{
    float: right;
    color: white;
    margin-top: 50px;
    margin-right: 200px;
    font-size: 30px;
    padding: 0 0;
    width: 600px;
}
.info1{  
    color:  white;
    font-size: 15px;    
}
h1{
    margin-left: 40px;
}
li{
    margin-left: 60px;
    font-size: 20px;
    color: black;
}
.sothich{
    margin-top: 10px;
    margin-left: 150px;
    font-size: 20px;
}
.hocvan, .project{
    margin-left:100px;
    margin-top: 10px;
    font-size: 20px;
}
.yolo2{
    margin-top: -1350px;
    height: 850px;
    margin-left: 550px;
    width: 590px;
}
footer{
    width: 100%;
    background-color: rgb(0, 76, 121);
    height: 150px;
    margin-top: -10px;
}
.thend{
    text-align: center;
    padding: 60px;
    color: white;
}

a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
    
  button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  .social-btns .btn,
  .social-btns .btn:before,
  .social-btns .btn .fa {
    
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }
  .social-btns .btn:before {
    top: 90%;
    left: -110%;
  }
  .social-btns .btn .fa {
    transform: scale(0.8);
  }
  .social-btns .btn.facebook:before {
    background:linear-gradient(#719dfc,#5283ec,#3f5df3) ;
  }
  .social-btns .btn.facebook .fa {
    color: #3f5df3;
  }
  .social-btns .btn.instagram:before {
    background: linear-gradient(to top,#f9ed32,#ee2a7b,#002aff );
  }
  .social-btns .btn.instagram .fa {
    color: #ee2a7b;
  }
  .social-btns .btn.twitter:before {
    background-color: #3cf;
  }
  .social-btns .btn.twitter .fa {
    color: #3cf;
  }
  
  .social-btns .btn:focus:before,
  .social-btns .btn:hover:before {
    top: -10%;
    left: -10%;
  }
  .social-btns .btn:focus .fa,
  .social-btns .btn:hover .fa {
    color: #fff;
    transform: scale(1);
  }
  .social-btns {
    margin: 0 auto;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-direction: row;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    padding: 75px;
  }
   
  .social-btns .btn {
    display: inline-block;
    background-color: #fff;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: 0 100px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    opacity: 0.99;
  }
  .social-btns .btn:before {
    content: '';
    width: 150%;
    height: 150%;
    position: absolute;
    transform: rotate(45deg);
  }
  .social-btns .btn .fa {
    font-size: 38px;
    vertical-align: middle;
  }
  .chiu{
    /* margin-top: 180px; */
    background-color: rgb(60, 138, 184);
  }
  ::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(232,244,250), rgb(132,159,187), rgb(132,159,187),rgb(60,138,184),  rgb(0,95,151),rgb(0,76,121));
    border-radius: 10px;
  }

  .ani{
    width: 100px;
    border-radius: 50%;
    height: 200px;
    position: fixed;
    margin-top: 30px;
    margin-left: 50px;
    
    animation: example 1s ease ;
  }
  img{
    border-radius: 50%;
    height: 100px;
    width: 150px;
  }
  @keyframes example {
    0% {
      background-position: 0% 50%; left: 0px; top: 500px;
    }
    50% {
      background-position: 100% 50%; 
    }
    100% {
      background-position: 0% 50%; left: 0px; top: 0px;
    }
  }
  body {
    background: linear-gradient(85deg, rgb(132,159,187), rgb(232,244,250),rgb(60,138,184), rgb(132,159,187), rgb(0,95,151),rgb(0,76,121));
    background-size: 400% 400%;
    animation: bg 25s ease infinite;
    height: auto;
  }
  
  @keyframes bg {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  a:link, a:visited {
    border-radius: 50%;
    margin-top: 50px;
    background-color: lightblue;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover {
    background-color: lightblue;
    color: red;
    
    text-decoration: underline;
  }
  
  a:active {
    background-color: lightblue;
    color: rgb(4, 0, 255);
    
    text-decoration: underline;
  }
  
   a.rturn{
    border-radius: 50%;
    height: 30%;
    width: 40%;
    padding: 15px 25px;
    background-image:  url(https://img.freepik.com/free-vector/cute-shiba-inu-lifting-bone-barbell-cartoon-vector-icon-illustration-animal-sport-icon-isolated_138676-4409.jpg?w=826 );
    
    background-size: cover; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
  }
